@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
    padding: 1px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #101418;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #66b2ff;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #66b2ff;
}
